<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#442889'"
        [innerStrokeColor]="'#53025F'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress> 
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#442889'"
            [innerStrokeColor]="'#53025F'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress> 
         </div>
         <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="70"
                [radius]="100"
                [imageSrc]="'../assets/js.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageWidth]="90"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="14"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#442889'"
                [innerStrokeColor]="'#53025F'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress> 
             </div>
             <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                    [percent]="90"
                    [radius]="100"
                    [imageSrc]="'../assets/git.png'"
                    [showImage]="true"
                    [imageHeight]="90"
                    [imageWidth]="90"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="14"
                    [innerStrokeWidth]="5"
                    [outerStrokeColor]="'#442889'"
                    [innerStrokeColor]="'#53025F'"
                    [animation]="true"
                    [animationDuration]="600"
            ></circle-progress> 
                 </div>
                 <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                        [percent]="100"
                        [radius]="100"
                        [imageSrc]="'../assets/trabajo en equipo.png'"
                        [showImage]="true"
                        [imageHeight]="90"
                        [imageWidth]="90"
                        [showUnits]="false"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="14"
                        [innerStrokeWidth]="5"
                        [outerStrokeColor]="'#442889'"
                        [innerStrokeColor]="'#53025F'"
                        [animation]="true"
                        [animationDuration]="600"
                ></circle-progress> 
                     </div>
                     <div class="text-center col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                            [percent]="78"
                            [radius]="100"
                            [imageSrc]="'../assets/ingles.png'"
                            [showImage]="true"
                            [imageHeight]="90"
                            [imageWidth]="90"
                            [showUnits]="false"
                            [showSubtitle]="false"
                            [outerStrokeWidth]="14"
                            [innerStrokeWidth]="5"
                            [outerStrokeColor]="'#442889'"
                            [innerStrokeColor]="'#53025F'"
                            [animation]="true"
                            [animationDuration]="600"
                    ></circle-progress> 
                         </div>

    
</div>