<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/PERFIL.jpg" class="img-fluid" id="Perfil">    
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <h1 id="nombre">Melanie Antonelli</h1>
        <p>Full Stack Developer Jr</p>
           </div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
<span>
    <h1>Acerca de mí</h1>
    <p>Nací en la ciudad de Mar del Plata, donde vivo actualmente. Tengo 28 años, y me recibí de Técnica superior en Turismo. 
   Ejerzo hace más de diez años en el área gastronómico y hotelero. Me destaco por mi gran vocación de servicio.</p>
   <p>Buscando nuevos horizontes, y por mis ganas de aprender y superarme, estoy incursionando en el ámbito IT. Conociendo la programación y lo maravilloso que este mundo tecnologico presenta!</p>
   <p>También y entre muchas otras cosas que me definen, soy Biodanzarina y mamá de un pequeño gran ser. </p>
   <p>Amo el mar, la musica, y los viajes!</p>
   <p>Que la vida es un viaje, es mi frase de bandera, y te agradezco por acompañarme en este! </p>
   <h3>¡Bienvenidx!</h3>
</span>
           </div>
</div>