<div class="row">
    <h1>Formación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
    
        <ul>
            <li>
                <h2>Programación web Full-Stack junior</h2> - <h4>(2021-Actualmente) </h4>
                                            </li>
                <p>Argentina Programa. - INTI - Ministerio De Desarrollo Productivo Argentina</p>
                    
            </ul>
            <ul>
                <li>
                    <h2>Anfitrión Turístico</h2> -                   <h4>(Curso completado en el año 2015)</h4>
                                </li>
                    <p>Curso de extensión, Cs. Esconomicas, UNMDP - Mar del Plata, Bs. As,</p>
                        
                </ul>
                
<ul>
        <li>
        <h2>Tecnica Superior en Turismo</h2> - <h4>(Estudios completados en diciembre 2015)</h4>
                    </li>
        <p>Instituto Superior Formación Técnica N°151  - Castelli 4197 - Mar del Plata, Bs. As,</p>
            
    </ul>
    <ul>
        <li>
            <h2>Bachiller en Economia y Gestión de las organizaciones</h2> -  <h4>(Estudios completados en diciembre 2011)</h4>
                        </li>
            <p>Instituto Santa Cecilia - Mar del Plata, Bs. As,</p>
                
        </ul>
        
    