<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/PERFIL.jpg" class="img-fluid" id="Perfil">    
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <p id="nombre">Melanie Antonelli</p> 
        <p>Full Stack Developer Jr</p>
           </div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
<span>
    <h1>Acerca de mí</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste facilis repellendus aspernatur nihil eaque laboriosam, totam nemo, vero magnam quasi odio quidem, similique optio necessitatibus nesciunt voluptas nostrum enim numquam.</p>
</span>
           </div>
</div>