<div>
    <a href="https://www.facebook.com/melanie.antonelli/" target="_blank"><img src="../../../assets/facebook.png" HSPACE="5" VSPACE="5" id="FB"></a>
    <a href="https://github.com/Mela2517" target="_blank"><img src="../../../assets/github.png" HSPACE="5" VSPACE="5" id="GH"></a>
    <a href="https://www.instagram.com/melanieantonelli/" target="_blank"><img src="../../../assets/instagram.png" HSPACE="5" VSPACE="5"id="IG"></a> 
    <a href="https://www.linkedin.com/in/melanieantonelli6/" target="_blank"><img src="../../../assets/linkedin.png" HSPACE="5" VSPACE="5" id="LN"></a>
    <a href=""><img src="../../../assets/usuario.png" HSPACE="5" VSPACE="5" id="LG"></a>
</div>