<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
    
<ul>
    <li>
        <h2>Hoteles Antártida y Tierra del Fuego</h2> - <h4>(2019-Actualidad)</h4>
         <h3>Ejecutiva/Encargada de Reservas</h3>
           </li>
        <p>Desde el año 2019 me desempeño en el área de reservas de Hoteles Antártida y Tierra del Fuego. 
            <br>
        Comencé como ejecutiva de reservas en el Hotel Antártida, y actualmente soy encargada del sector en el Hotel Tierra del Fuego
         <br>
          Las tareas que realizo: <br>
         Atención personalizada al cliente, presencial y virtual. <br>
         Venta y cobro de reservas hoteleras telefónicas y on line.  <br>
        Trabajo articulado con todos los departamentos del hotel. <br>
         Excelente manejo de Software hotelero CQR </p>
    </ul>
    <ul>
        <li>
            <h2>Hotel Novi</h2> -  <h4>(2020-2021)</h4>
            <h3>Recepcionista / Administrativa</h3>
            
        </li>
        <p>Recepción y atencíon al cliente <br>
        Reservas y cobro de servicios <br>
        Resolución de conflictos </p>
        </ul>
        <ul>
            <li>
                <h2>Parador Las Toscas Snack-bar</h2> -   <h4>(2009-2019)</h4> 
                <h3>Propietaria / Encargada</h3>
              
            </li>
            <p>Atención al cliente y proveedores. <br>
            Trabajos de gestoría y diversos tramites administrativos. <br>
            Empleados a cargo.</p>
            </ul>
            
                <ul>
                    <li>
                        <h2>Administración Depaoli</h2>  - <h4>(2012-2019)</h4>
                         <h3>Secretaria / Administrativa</h3>
                         
                    </li>
                    <p>Secretaria del administrador de consorcios en propiedad horizontal. <br>
                    Liquidación de expensas con excelente manejo de Software CE-ONLINE. <br>
                    Pago a proveedores y gestión de gremios. 
                    Gestión de reclamos y cobro de expensas.</p>
                    </ul> 
                    <ul>
                        <li>
    
                            <h2>Otras experiencias</h2> 
                        </li>
                                <p>Durante varios periódos de tiempo, entre las experiencias anteriormente mencionadas, emprendí un viaje al exterior. <br>
                            Viví en Brasil, Andorra, y España, lo que me llevo a enriquecerme de vivencias. <br>
                            Trabajé en Turismo y Hoteleria, y también en gastronomía. Perfeccioné mi portugues e ingles y aprendí a hablar frances</p>
                            </ul>      
                        
                             </div>
</div>
